<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>perso1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{20,54}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,74},{20,54}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>perso2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,58},{22,54}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,74},{22,54}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>perso3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{20,56}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,72},{20,56}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>perso4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,54}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,74},{22,54}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimPerso-hd.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f9470941aa53c6c9af5e85c14929af2$</string>
            <key>textureFileName</key>
            <string>AnimPerso-hd.png</string>
        </dict>
    </dict>
</plist>
