<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>perso1.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,32},{10,28}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{10,28}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>perso2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{12,28}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{12,28}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>perso3.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{10,28}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{10,28}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>perso4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,28}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{12,28}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimPerso.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f38ab717dd3c7dbb5867d8a03095ca2b$</string>
            <key>textureFileName</key>
            <string>AnimPerso.png</string>
        </dict>
    </dict>
</plist>
