<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>perso1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,112},{36,108}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,148},{36,108}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>perso2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,108}}</string>
                <key>offset</key>
                <string>{5,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,148},{42,108}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>perso3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{36,110}}</string>
                <key>offset</key>
                <string>{7,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,146},{36,110}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>perso4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,106}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,150},{42,106}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimPerso-ipadhd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29eba2100ecf4541d122ea1addcef7fe$</string>
            <key>textureFileName</key>
            <string>AnimPerso-ipadhd.png</string>
        </dict>
    </dict>
</plist>
